body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

html, body {
  width: 100%;
  font-family: sans-serif;
  background-color: #bbb;
}

.bracket{
  width: 95%;
  margin: 0 auto ;
  display: flex;
  flex-direction: column;
}
.bracket_form {
margin-left: auto;
margin-right: auto;
left: 0;
right: 0;
position: absolute;
width: 25%;
padding: 20px;
}
.half{
  display: flex;
  flex:1;
  flex-direction: row;
}

.region {
  display: flex; 
  flex:1;
}
.region.region-champ {
flex-grow:.25; 
}

.round {
  flex:1;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 2px;
}
.matchup {
  flex-grow: 0;
  position: relative;
  margin: 4px 0;
  padding: 0px;
}
.team {
  background-color: #dedede;
  font-size: 12px;
  margin: 2px 0;
  padding: 4px;
  text-align: left;
/*    min-width:80px; */
}

.team.wrong {
  color: red;
  text-decoration: line-through;
}
.team.correct {
  color: green;
}

.team img {
  width:16px;
  height: 16px;
}

.region:nth-of-type(3) .team {
    text-align: right;

} .round5 .team {
  background-color: #fff;
}



.half .region:nth-of-type(3) {
  flex-direction:row-reverse;
}

.final-four {
  display:none;
}
/*test */
.final-four {
  display:flex;
  flex-direction: row;
  justify-content: center;
}

.final-four .region {
  display: flex;
  flex:.5;  
  flex-direction: row;
  margin:0;
}
.final-four .round {
  margin:0;
   justify-content: flex-start;
   flex-direction:column;
}
.final-four .matchup.final .team.champion {
    flex:2;
  margin:10px 0;
}

.half .region:nth-of-type(2) {
  display:none;
}
.region:nth-of-type(1)  .round:nth-of-type(4) .matchup {
  transform: translateX(-50%);
}
.region:nth-of-type(3) .round:nth-of-type(4) .matchup {
  transform: translateX(50%);
}

/* OVERRIDE 
.final-four {
  display: flex;
  flex: 0.25;
  flex-direction: column;
  justify-content: space-around;
}
.final-four .round {
  flex:0;
  display: flex;
  flex-direction: columnn;
  justify-content: flex-around;
}
.final-four .round .matchup {
  flex:4;
} 
.half  {
  flex-direction:row;
}
.half .region:nth-of-type(3) {
  flex-direction:row;
}
.half .region:nth-of-type(2) {
  display:none;
}
.half:nth-of-type(3) .region {
  flex-direction:row-reverse;
}
.half:nth-of-type(1) .region .round:nth-of-type(4) {
  transform: translateX(-50%);
}
.half:nth-of-type(3) .region .round:nth-of-type(4) {
  transform: translateX(50%);
}
.bracket {
  flex-direction:column;
}
/**/
