body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  line-height: 1;
}

html, body {
  width: 100%;
  font-family: sans-serif;
  background-color: #FFF;
}

.flashMessage
{
  padding: 10px;
  margin:24px;
  border: solid 1px #bbbbbb;
  background-color: #eeeeee;
}

.flashMessage.error, .flashMessage.error input
{
  background: #F9E5E6;
  border: 1px solid #E8AAAD;
  color: #B50007;
}
.flashMessage.success, .flashMessage.success input
{
  background: #ffffff;
  border: 1px solid greenyellow;
  color: green;
}
.flashMessage input {
  padding: 2px;
  margin: 2px;
  float:right;
}

#root {
  position: relative;
}
.error {
  color: red;
}
.bracket.errored .not_picked{
    background: #F9E5E6;
    border: 1px solid #E8AAAD;
    color: #B50007;
}
input.errored{
    background: #F9E5E6;
    border: 1px solid #E8AAAD;
    color: #B50007;
}

.bracket{
  margin: 0 auto ;
  display: flex;
  flex-direction: column;
  position: relative;
}
.bracket_form {
margin-left: auto;
margin-right: auto;
left: 0;
right: 0;
position: absolute;
width: 25%;
padding: 20px;
}
.half{
  display: flex;
  flex:1;
  flex-direction: row;
}

.region {
  display: flex;
  flex:1;
}
.region.region-champ {
flex-grow:.25;
}

.round {
  flex:1;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 2px;
}
.matchup {
  flex-grow: 0;
  position: relative;
  margin: 4px 0;
  padding: 0px;
}
.team {
  background-color: #fff;
  border:solid 1px #eee;
  font-size: 12px;
/*  margin: 2px 0;
  padding: 4px;*/
  text-align: left;
/*    min-width:80px; */
  cursor: pointer;
  display: flex;
  align-items: center;
}

.team.picked {
  background-color: #eee;
}

.round4 .team.not_picked .team_logo,
.round3 .team.not_picked .team_logo,
.round2 .team.not_picked .team_logo,
.round1 .team.not_picked .team_logo,
.round0 .team.not_picked .team_logo,
.final .team.not_picked .team_logo {
 display: none
}

.team .team_logo {
  width: 20px;
  height: 20px;
  margin-right: 4px;
}

.team .team_logo img {
  margin:;
  width: 16px;
  height: 16px;
}
.team .team_name {
  padding: 4px;
}

.team.wrong {
  color: red;
  text-decoration: line-through;
}
.team.correct {
  color: green;
}

.team img {
  width:16px;
  height: 16px;
}

.region:nth-of-type(3) .team {
    text-align: right;

} .round5 .team {
  background-color: #fff;
}



.half .region:nth-of-type(3) {
  flex-direction:row-reverse;
}

.final-four {
  display:none;
}
/*test */
.final-four h3 {
  display: none;
}
  .final-four {
  font-size: 12px;
  text-align: center;
  border: solid 1px #efefef;
  padding: 4px;
  display:flex;
  flex-direction: row;
  justify-content: center;
  position: absolute;
  top: 350px;
  align-self: center;
  align-items: center;
  width: 37.5%;

}
.round0  {
  width: 80%;
}
.final-four h4 {
  margin: 0;
}
.final-four .championship  {
  align-items: center;
  flex: 1.6 1;
  margin: 0 10px;
  justify-content: center;
}
.final-four .champion  {
  width: 100%;
  font-size: 20px
}

.final-four .champion .team  {
  font-size: 20px
}
.final-four .champion img {
  height: 32px;
  width: 32px;
}
/*.final-four h3, .final-four h4 {
  font-size: 14px;
  font-weight: 900;
}


.champion .team {
  margin: 4px;
  padding: 8px;
}
.final-four .champion .team {
  font-size: 16px;
  font-weight: 600;

}

.final-four .champion .team_logo {
  height: 28px;
  width: 28px;
}*/

/*.final-four .region {
  display: flex;
  flex:.5;
  flex-direction: column;
  margin:0;
}
.final-four .round {
  margin:0;
   justify-content: flex-start;
   flex-direction:column;
}
.final-four .matchup.final .team.champion {
    flex:2;
  margin:10px 0;
}
*/
.half .region:nth-of-type(2) {
  /*display:none;*/
}
.region:nth-of-type(1)  .round:nth-of-type(3) .matchup {
  transform: translateX(-30%);
}
.region:nth-of-type(3) .round:nth-of-type(3) .matchup {
  transform: translateX(30%);
}

.region:nth-of-type(1)  .round:nth-of-type(4) .matchup {
  transform: translateX(-90%);
}
.region:nth-of-type(3) .round:nth-of-type(4) .matchup {
  transform: translateX(90%);
}

/* OVERRIDE
.final-four {
  display: flex;
  flex: 0.25;
  flex-direction: column;
  justify-content: space-around;
}
.final-four .round {
  flex:0;
  display: flex;
  flex-direction: columnn;
  justify-content: flex-around;
}
.final-four .round .matchup {
  flex:4;
}
.half  {
  flex-direction:row;
}
.half .region:nth-of-type(3) {
  flex-direction:row;
}
.half .region:nth-of-type(2) {
  display:none;
}
.half:nth-of-type(3) .region {
  flex-direction:row-reverse;
}
.half:nth-of-type(1) .region .round:nth-of-type(4) {
  transform: translateX(-50%);
}
.half:nth-of-type(3) .region .round:nth-of-type(4) {
  transform: translateX(50%);
}
.bracket {
  flex-direction:column;
}
/**/
